<div class="sketchfab-embed-wrapper">
     <iframe width = "100%" height = "100%" title="Data Center Model" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/1bb1aad2b7eb4a1f9893da85e8dcef77/embed"> 
     </iframe> 
     <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"> 
        <a href="https://sketchfab.com/3d-models/data-center-model-1bb1aad2b7eb4a1f9893da85e8dcef77?utm_medium=embed&utm_campaign=share-popup&utm_content=1bb1aad2b7eb4a1f9893da85e8dcef77" target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;"> 
        Data Center Model </a> by 
        <a href="https://sketchfab.com/prasainfocom?utm_medium=embed&utm_campaign=share-popup&utm_content=1bb1aad2b7eb4a1f9893da85e8dcef77" target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;">
             prasainfocom </a>
              on 
              <a href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=1bb1aad2b7eb4a1f9893da85e8dcef77" target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;">
                Sketchfab
            </a>
    </p>
    </div>