<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" href = "{{ url_for('static',filename='styles/layout.css') }}">
    {% endblock %}
</head>

<body>
    <div id = "canvas">
    {% block body %}
            {% block module_content %}

            {% endblock %}
    {% endblock %}
    </div>

    <button id = "accessibility">Accessibility</button>

    <div id = "accessibility-menu">
        <div id = "text-slider-container">
            Text Size
            <input type="range" min="50" max="200" value="100" class="slider" id ="text-size">

            Text Spacing
            <input type="range" min="50" max="200" value="100" class="slider" id ="text-spacing">

        </div>

    </div>

    <script>
        const canvas = document.getElementById("canvas")
        var textSizeSlider = document.getElementById("text-size")
        var textSpacingSlider = document.getElementById("text-spacing")

        textSizeSlider.oninput = function() {
            canvas.style.fontSize = `${this.value}%`
        }

        textSpacingSlider.oninput = function() {
            canvas.style.lineHeight = `${this.value * 0.01}`
        }

        function openAccessibilityMenu() {
            
        }
    </script>
</body>
</html>