<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Data Center Learning Modules{% endblock %}</title>
    <link rel="stylesheet" href = "{{ url_for('static',filename='styles/layout.css') }}">
    <link href="https://fonts.cdnfonts.com/css/open-dyslexic" rel="stylesheet">
    {% endblock %}
    <link rel="icon" type="image/x-ico" href="static/images/favicon.ico">
</head>

<style>
    :root {
        --terracotta-lightest: {{terracotta_lightest}};
        --terracotta-light: {{terracotta_light}};
        --terracotta-mid-light: {{terracotta_mid_light}};
        --terracotta-mid: {{terracotta_mid}};
        --terracotta-dark: {{terracotta_dark}};
        --terracotta-darkest: {{terracotta_darkest}};
        --dune-lightest: {{dune_lightest}};
        --dune-light: {{dune_light}};
        --dune-mid-light: {{dune_mid_light}};
        --dune-mid: {{dune_mid}};
        --dune-dark: {{dune_dark}};
        --dune-darkest: {{dune_darkest}};
        --teal-lightest: {{teal_lightest}};
        --teal-light: {{teal_light}};
        --teal-mid-light: {{teal_mid_light}};
        --teal-mid: {{teal_mid}};
        --teal-dark: {{teal_dark}};
        --teal-darkish: {{teal_darkish}};
        --teal-darkest: {{teal_darkest}};
        --chalk-lightest: {{chalk_lightest}};
        --chalk-light: {{chalk_light}};
        --chalk-mid-light: {{chalk_mid_light}};
        --chalk-mid: {{chalk_mid}};
        --chalk-dark: {{chalk_dark}};
        --chalk-darkest: {{chalk_darkest}};
    }

</style>

<body>
        <div id = "canvas">
        {% block body %}
                {% block module_content %}

                {% endblock %}
        {% endblock %}
        </div>

        <button id = "accessibility" onclick = "openAccessibilityMenu()">
            <img width="35px" src="../static/images/buttons/Accessibility-symbol.PNG">
        </button>

        <div id = "accessibility-menu">
            <div class="menu-header">
                Accessibility Menu
            </div>
            <img id = "keys" width="200px" style="margin-top: 15px; margin-bottom: 15px;", src="../static/images/graphics/Keys.PNG">
            <div id = "text-slider-container">
                <div class="settings-category">
                    <p class="settings-title">Reading Settings</p>
                    <hr>
                    <p class="slider-text">Text Size</p>
                    <input type="range" min="50" max="200" value="100" class="slider" id ="text-size">
                    <p class="slider-text">Text Spacing</p>
                    <input type="range" min="100" max="105" value="100" class="slider" id ="text-spacing">
                    <p class="slider-text">Line Height</p>
                    <input type="range" min="100" max="160" value="100" class="slider" id ="line-height">

                    <div class="dyslexic-stuff"><input type="checkbox" id = 'dyslexic-font' onclick = 'toggleFont()'> Dyslexic Friendly </div>
                </div>
                <div class="settings-category">
                    <p class="settings-title">Visual Settings</p>
                    <hr>
                    <p class="slider-text">Contrast</p>
                    <input type="range" min="100" max="200" value="100" class="slider" id = "contrast">
                    <p class="slider-text">Saturation</p>
                    <input type="range" min="0" max="200" value="100" class="slider" id = "saturation">
                </div>
            </div>
            <button id = 'reset-css' onclick = 'resetDefaultCSS()'> Reset to Default</button>
        </div>
        <script>
            const canvas = document.getElementById("canvas");
            const accessMenu = document.getElementById("accessibility-menu")
            var textSizeSlider = document.getElementById("text-size");
            var textSpacingSlider = document.getElementById("text-spacing");
            var lineHeightSlider = document.getElementById("line-height");
            var contrastSlider = document.getElementById("contrast");
            var saturationSlider = document.getElementById("saturation");

            var dyslexicCheck = document.getElementById("dyslexic-font");

            const allContained = document.querySelectorAll('*');

            const sliders = [textSizeSlider, textSpacingSlider,lineHeightSlider,contrastSlider,saturationSlider];

            
            
            function saveAccessSettings(option) {
                option.addEventListener("input", function() {
                    value = this.value;

                    localStorage.setItem(this.id, value);

                })
            }

            function loadAccessSettings(option) {
                option.value = localStorage.getItem(option.id);
                option.oninput()
            }
            
            if (sessionStorage.getItem("dyslexicFriendly")) {
                document.body.classList.toggle('dyslexic');
                dyslexicCheck.checked = true;
            }

            textSizeSlider.oninput = function() {
                canvas.style.fontSize = `${this.value}%`;
            }

            textSpacingSlider.oninput = function() {
                canvas.style.letterSpacing = `${this.value - 100}px`;
            }

            lineHeightSlider.oninput = function() {
                canvas.style.lineHeight = `${this.value * 0.01 + 0.5}`;
            }

            function applyFilters() {
                canvas.style.filter = `contrast(${contrastSlider.value}%) saturate(${saturationSlider.value}%)`;
            }
            contrastSlider.oninput = function() {
                applyFilters();
            }
            
            saturationSlider.oninput = function() {
                applyFilters();
            }
            
            loadAccessSettings(textSizeSlider);
            loadAccessSettings(textSpacingSlider);
            loadAccessSettings(lineHeightSlider);
            loadAccessSettings(contrastSlider);
            loadAccessSettings(saturationSlider);

            saveAccessSettings(textSizeSlider);
            saveAccessSettings(textSpacingSlider);
            saveAccessSettings(lineHeightSlider);
            saveAccessSettings(contrastSlider);
            saveAccessSettings(saturationSlider);

            function toggleFont() {
                document.body.classList.toggle('dyslexic');
                if (document.body.classList.contains('dyslexic')) {
                    sessionStorage.setItem("dyslexicFriendly", "True");
                }
                else {
                    sessionStorage.removeItem("dyslexicFriendly");
                }
            }

            function openAccessibilityMenu() {
                accessMenu.classList.toggle("open");
            }

            function resetDefaultCSS() {
                canvas.style.fontSize = "100%";
                canvas.style.letterSpacing = "0px";
                canvas.style.lineHeight = "1.5";
                canvas.style.filter = "saturate(100%) contrast(100%)";

                for (i in sliders) {
                    sliders[i].value = 100;
                    localStorage.setItem(sliders[i].id, sliders[i].value);
                }
            }

            sessionStorage.setItem("notFirstLoad", "True");

            if (!sessionStorage.getItem("notFirstLoad")) {
                resetDefaultCss();
            }
        </script>
</body>
</html>