{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/learnpage.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&family=Libre+Baskerville:ital@0;1&display=swap" rel="stylesheet">
{% endblock %}


{% block body %}

<section class = 'layout'>
    <div class = 'header'>
        <ol class = 'header-content'>
            <li><a class='header-links' href = "/">Home</a></li>
            <li>➤</li>
            <li><a class='header-links' href = "/module-outline">Module List</a></li>
            <li>➤</li>
            <li><a class = 'header-links' href = "/learn-page/{{ working_module.master_module.href }}">
                {{ working_module.master_module.label }} {{ working_module.master_module.title }} 
            </a></li>
            {% if current_mod != [{}] %}
            <li>➤</li>
            <li><a class = 'header-links'>{{ current_mod.label }} {{ current_mod.title }}</a></li>
            {% endif %}
            <script>
                function updateLinkColor() {
                    headerLinks = document.getElementsByClassName("header-links");
                    workingMod = headerLinks[headerLinks.length - 1];

                    workingMod.classList.toggle("is-current");
                }

                updateLinkColor()
            </script>
        </ol>
    </div>
    <div class = 'sidebar'>
        <div class="sidebar-content">
            <button class = "sidebar-open" onclick = "toggleSidebar()">
                ☰
            </button>
        </div>
        <div class = "sidebar-expanded">
            {% for module in learning_outline_list %}
            <ol class='module-section'>  
                
                <div class="module-name">
                    <b class="module-num">{{ module.master_module.label }}</b>
                    {{ module.master_module.title }}
                </div>
                {% for submodule in module.master_list %}
                <a class='links' href= "{{ url_for('module', module_label=submodule.label.replace(".","-"))}}">
                <li class="submodule-section">
                    <div class="module-name">
                        <b class="module-num"> {{ submodule.label }} </b>
                        {{ submodule.title }}
                    </div>
                </li>
                </a>
                {% endfor %}
                
            </ol>
            {% endfor %}

        </div>
    </div>
    <div class = 'main-area'>
    <p id = 'content'>
        {% if obj %}
        {{ obj }}
        {% else %}
        {{ current_mod.sections[0].content }}
        {% endif %}
    </p>

    <button id = "back">back</button>
    <button id = "next">next</button>
    <progress id = 'submod-progress' value = '0' max = '{{ (current_mod.sections | length) - 1 }}'></progress>

    {% if next_mod %}
        <a id = "next-section" href = "/learn-page/{{ next_mod.href }}">To Section {{ next_mod.label }}<a>
    {% endif %}
    </div>
</section>

<script>
    let currentIndex = 0;

    const layout = document.getElementsByClassName("layout")[0];

    const modules = {{ current_mod | tojson }};

    const content = document.getElementById("content");
    const nextButton = document.getElementById("next");
    const backButton = document.getElementById("back");
    const nextSection = document.getElementById("next-section");
    const progressBar = document.getElementById("submod-progress");

    // Made these hidden by default

    if (nextSection) {
    nextSection.style.visibility = "hidden";
    }
    backButton.style.visibility = "hidden";

    // Checking what kind of section we are in and if it has sections in it
    if (!modules.sections || modules.sections.length == 1) {
        nextButton.style.visibility = "hidden";
        backButton.style.visibility = "hidden";
        nextSection.style.visibility = "visible";
    }
    
    // Function to render new text by indexing on section
    function renderText(Index) {
        content.innerHTML = modules.sections[Index].content;
        backButton.disabled = currentIndex === 0;
        nextButton.disabled = currentIndex === modules.sections.length -1

        progressBar.value = Index
        // Hides next button if at the end and makes the next section visible
        if (nextButton.disabled) {
            nextSection.style.visibility = "visible";
            nextButton.style.visibility = "hidden";
        }
        else {
            nextButton.style.visibility = "visible";
            nextSection.style.visibility = "hidden";
        }

        // If at the beginning, makes the back button hidden.
        if (backButton.disabled) {
            backButton.style.visibility = "hidden";
        }
        else {
            backButton.style.visibility = "visible";
        }
    }

    // Shorthand to assign the onclick function to index ticking
    nextButton.onclick = () => renderText(++currentIndex)
    backButton.onclick = () => renderText(--currentIndex)

    // Keyboard Navigation
    document.addEventListener('keydown', (event) => {
        if (event.key === "ArrowRight") {
            if (nextSection.style.visibility === "hidden") {
                nextButton.click()
            }
            else {
                nextSection.click()
            }
        }
        else if (event.key === "ArrowLeft") {
            backButton.click()
        }
        else if (event.key === "Tab") {
            toggleSidebar()
        }
    })

    // Check if next section is clicked
    nextSection.addEventListener('click', (event) => {
        // Keep it open when moving to next section
        if (layout.classList.contains("sidebar-expand")) {
            sessionStorage.setItem("sidebarOpen", "True");
        }
    })

    document.addEventListener("DOMContentLoaded", function() {
        if (sessionStorage.getItem("sidebarOpen") === "True") {
            sessionStorage.removeItem("sidebarOpen");
            toggleSidebar()
        }
    })

    // Show Sidebar button functionality
    function toggleSidebar() {
        layout.classList.toggle("sidebar-expand");
    }

</script>

{% endblock %}