{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/learnpage.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&family=Libre+Baskerville:ital@0;1&display=swap" rel="stylesheet">
{% endblock %}


{% block body %}

<section class = 'layout'>
    <!-- Header Content that fills with current module -->
    <div class = 'header'>
        <ol class = 'header-content'>
            <li><a class='header-links' href = "/">Home</a></li>
            <li class="arrow">▶</li>
            <li><a class='header-links' href = "/module-outline">Module List</a></li>
            <li class="arrow">▶</li>
            <li><a class = 'header-links' href = "/learn-page/{{ working_module.master_module.href }}">
                {{ working_module.master_module.label }} {{ working_module.master_module.title }} 
            </a></li>
            {% if current_mod != [{}] %}
            <li class="arrow">▶</li>
            <li><a class = 'header-links'>{{ current_mod.label }} {{ current_mod.name }}</a></li>
            {% endif %}
            <script>
                // Updates the current link in header to change color
                function updateLinkColor(linkType) {
                            links = document.getElementsByClassName(linkType);
                            workingMod = links[links.length - 1];
                            workingMod.classList.toggle("is-current");
                        }

                updateLinkColor("header-links")
            </script>
        </ol>
    </div>

    <!-- Sidebar -->
    <div class = 'sidebar'>
        <div class="sidebar-header">
            Table of Contents
        </div>
        <button class="sidebar-open" onclick="toggleSidebar()">
            <img class="hamburger" width="35px" src="../static/images/buttons/Hamburger-symbol.PNG">
        </button>
        <div class = "sidebar-expanded">
            {% for module in learning_outline_list %}
            <a class = 'sidebar-links' href = "/learn-page/{{ module.master_module.href }}" >
            <ol class='module-section'> 
                
                <div class="module-name">
                    <b class="module-num">{{ module.master_module.label }}</b>
                    {{ module.master_module.title }}
                </div>

                {% if module.master_module.label == working_module.master_module.label[0] %}
                    <script>
                        // Updates sidebar widget color if it is current
                        updateLinkColor("module-section");
                    </script>
                {% endif %}

                {% for submodule in module.master_list %}
                <a class='sidebar-links' href= "{{ url_for('module', module_label=submodule.label.replace(".","-"))}}">
                <li class="submodule-section">
                    <div class="submodule-name">
                        <b class="submodule-num"> {{ submodule.label }} </b>
                        {{ submodule.title }}
                    </div>
                </li>
                </a>

                {% if submodule.label == current_mod.label %}
                    <script>
                        updateLinkColor("submodule-section")
                        updateLinkColor("submodule-name")
                        updateLinkColor("submodule-num")
                    </script>
                {% endif %}
                {% endfor %}
            </ol>
            </a>
            {% endfor %}

        </div>
    </div>

    <!-- The main area where the content is created -->
    <div class = 'main-area'>
    <p id = "mod-title"> 
        {% if obj %}
        <b id="mod-title-1">Module {{ working_module.master_module.label }}: {{ working_module.master_module.title }}</b> <br><br>
        {% else %}
        <b id="mod-title-2">{{ current_mod.label }} – {{ current_mod.name }}</b>
        {% endif %}
    </p>
    <br>
    <!--
    Content is filled here with HTML escape. This is where the txt folder stuff is rendered
    -->
    <div id = 'content'>
        {% if obj %}
        {{ obj }}
        {% else %}
        {{ current_mod.sections[0].content }}
        {% endif %}
    </div>

    <!--Next/back buttons-->
    <div class="button-group">
        <button id = "back" style = "position: fixed; bottom: 50px; left: 5%;">
            <img width="100px" src="../static/images/buttons/Back-button.PNG">
        </button>
        <button id = "next" style = "position: fixed; bottom: 50px; right: 5%;">
            <img width="100px" src="../static/images/buttons/Next-button.PNG">
        </button>
    </div>
    <!--If there is a next module:-->
        {% if next_mod %}
            <!-- If the next module is a main (like Module 1)-->
            {% if next_mod.label | length == 1 %}
                <a style="position: fixed; bottom: 50px; right: 5%;
                 padding: 10px; background-color: var(--teal-darkish);
                  color: var(--teal-lightest)" id = "next-section"
                   href = "/learn-page/{{ next_mod.href }}"><p style="font-size: 0.75em;">
                    Next Module:</p> {{ next_mod.title }}
                <a>

            <!-- If it is anything else -->
            {% else %}
                <button id = "next" style = "position: fixed; bottom: 50px; right: 5%;", class = "submodule-continue" onclick = "window.location.href = '/learn-page/{{ next_mod.href }}'">
                    <img width="100px" src="../static/images/buttons/Next-button.PNG">
                </button>
                </a>
            {% endif %}
        
        <!-- Checking if it is the last module -->
        {% elif current_mod.label == "4.3" %}
            <a class = "submodule-continue" href = "/"> 
                <img src = "/static/images/graphics/homebutton.PNG" height = "80px" width = "80px" style = "position: absolute; bottom: 10px; right: 10px;">
            </a>
            <script>
                document.getElementById("next").style.visibility = "hidden";
            </script>
        {% endif %}
        
        <!-- Making sure module 1 doesnt have a back button -->
        {% if prev_mod.label != "4.3" %}

        <!--Checking if the current module is not within the previous one-->
        {% if not current_mod.label %}
            <a style="position: fixed; bottom: 50px; left: 5%; padding: 10px; background-color: var(--teal-darkish); color: var(--teal-lightest); font-family: 'Libre Baskerville', serif; text-decoration: none; border-radius: 5px;" id = "prev-section" href = "/learn-page/{{ prev_mod.href }}" onclick = "sessionStorage.setItem('backClicked', 'True')"> <p style="font-size: 0.75em;">Previous Module:</p> {{ prev_master_mod.title }}<a>
        {% else %}
            <button id = 'back' style = "position: fixed; bottom: 50px; left: 5%;" class = "submodule-previous" onclick = "{window.location.href = '/learn-page/{{ prev_mod.href }}'; sessionStorage.setItem('backClicked', 'True');}">
                <img width="100px" src="../static/images/buttons/Back-button.PNG">
            </button>
            </a>
        {% endif %}
        
        {% endif %}


    

    <!--Progress Bar-->
    <progress id = 'submod-progress' value = '0' max = '{{ (current_mod.sections | length) - 1 }}'></progress>

    </div>
</section>

<script>
    // The following lines checks to see if the user goes back an entire module
    let currentIndex = 0;
    let moduleProgress;

    // Checks for new page load:
    document.addEventListener("DOMContentLoaded", () => {
            if (sessionStorage.getItem("backClicked")) {
                sessionStorage.removeItem("backClicked");
                currentIndex = modules.sections.length -1;
                renderText(currentIndex);
                compareAnswer(sessionStorage.getItem("userAnswer"));
            }
        })

    // Storing HTML elements
    const layout = document.getElementsByClassName("layout")[0];
    const masterModule = {{ working_module.dict_master_list | tojson }};
    const modules = {{ current_mod | tojson }};
    const content = document.getElementById("content");
    const nextButton = document.getElementById("next");
    const backButton = document.getElementById("back");
    const backPrevModButton = document.getElementsByClassName("submodule-previous")[0];
    var nextSection = document.getElementById("next-section");
    const progressBar = document.getElementById("submod-progress");

    const prevMod = {{ prev_mod | tojson }};

    // finding the total length of our learning
    // This is all for the progress bar

    let totalLength = 1;
    let labels = [masterModule[0].label[0]];

    // Looping through modules and making them have key-value pairs
    masterModule.forEach(module => {
    totalLength += module.sections.length;
    labels.push(...module.sections.map(section => section.label))
   })
   
   // Setting the progress bar max to the total length of the module
    progressBar.max = totalLength;

    // Setting the value of the bar
    if (modules.sections) {
        progressBar.value = labels.indexOf(modules.sections[currentIndex].label) + 1;
    }
    else {
        progressBar.value = 0;
    }

    // Checks if sidebar is open
    if (sessionStorage.getItem("sidebarOpen")) {
        toggleSidebar();
    }

    // Catches an error in later steps
    // If the next section button is not found, store it as a different element
    if (!nextSection) {
        nextSection = document.getElementsByClassName('submodule-continue')[0];
    }

    // Made these hidden by default
    backButton.style.visibility = "hidden";
    nextSection.style.visibility = "hidden";

    // Checking what kind of section we are in and if it has sections in it
    if (!modules.sections || modules.sections.length == 1) {
        nextButton.style.visibility = "hidden";
        backButton.style.visibility = "hidden";
        nextSection.style.visibility = "visible";
    }
    
    // Function to render new text by indexing on section
    function renderText(Index) {
        content.innerHTML = modules.sections[Index].content;

        compareAnswer(sessionStorage.getItem("userAnswer"));

        // Set the following to be disabled only for index conditions
        backButton.disabled = currentIndex === 0;
        nextButton.disabled = currentIndex === modules.sections.length -1
        progressBar.value = labels.indexOf(modules.sections[currentIndex].label) + 1;
        

        if (backPrevModButton) {
        if (currentIndex === 0) {
            backPrevModButton.style.visibility = "visible";
        }
        else {
            backPrevModButton.style.visibility = "hidden";
        } }
        // Hides next button if at the end and makes the next section visible
        if (nextButton.disabled) {
            nextSection.style.visibility = "visible";
            nextButton.style.visibility = "hidden";

        }
        else {
            nextButton.style.visibility = "visible";
            nextSection.style.visibility = "hidden";

        }

        // If at the beginning, makes the back button hidden.
        if (backButton.disabled) {
            backButton.style.visibility = "hidden";
        }
        else {
            backButton.style.visibility = "visible";
        }
    }

    // Shorthand to assign the onclick function to index ticking
    nextButton.onclick = () => renderText(++currentIndex)
    backButton.onclick = () => renderText(--currentIndex)

    // Keyboard Navigation
    document.addEventListener('keydown', (event) => {
        if (event.key === "ArrowRight") {
            if (nextSection.style.visibility === "hidden") {
                nextButton.click()
            }
            else {
                nextSection.click()
            }
        }
        else if (event.key === "ArrowLeft" & prevMod.label != "4.3") {

            if (currentIndex === 0) {
                window.location.href = `/learn-page/${prevMod.href}`;
                sessionStorage.setItem("backClicked", "True");
            }
            else{
                backButton.click()
            }
        }
        else if (event.key === "Tab") {
            toggleSidebar()
        }
    })

    // Show Sidebar button functionality
    function toggleSidebar() {
        layout.classList.toggle("sidebar-expand");
        if (layout.classList.contains("sidebar-expand")) {
            sessionStorage.setItem("sidebarOpen", "True");
        }
        else {
            sessionStorage.removeItem("sidebarOpen");
        }
    }

</script>

<!--User Interaction Script-->
<script>
    // Checking to see if there is something in the input boxes
    document.addEventListener("input", (event) => {
        if (event.target.id === "activity") {
            var userAns = parseInt(event.target.value);
            const messageBox = document.getElementById("message-box");

            // Catches if the user input is not a number
            if (isNaN(userAns)) {
                messageBox.innerText = "Please enter a valid number!";
            }

            else {
                messageBox.innerText = "Go to the next section to lock in your answer!";
                sessionStorage.setItem("userAnswer", userAns);
            }
        }
    })

    // Function to compare the user answer to the real answer
    function compareAnswer(userInput) {
        const answerMessage = document.getElementById("user-answer");
        const realAnswer = document.getElementById("real-answer");

        // Sets an message based on the user answer
        if (answerMessage) {
            let threshold = realAnswer.value * 0.3;

            if (userInput == realAnswer.value) {
                answerMessage.innerHTML = "Spot on!"
            }

            else if (userInput > realAnswer.value + threshold | userInput < realAnswer.value - threshold) {
                answerMessage.innerHTML = `A little off!`;
                
            }
            else {
                answerMessage.innerHTML = `So close!`;
            }
        }
    }
    compareAnswer(sessionStorage.getItem("userAnswer"));
    
</script>

{% endblock %}