{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/test.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&family=Libre+Baskerville:ital@0;1&display=swap" rel="stylesheet">
{% endblock %}


{% block body %}

<section class = 'layout'>
    <div class = 'header'>
        <ol class = 'header-content'>
            <li>Home</li>
            <li>➤</li>
            <li>Module List</li>
            <li>➤</li>
            <li>X Module Name</li>
            <li>➤</li>
            <li>X.X Submodule Name</li>
        </ol>
    </div>
    <div class = 'sidebar'>
        <div class="sidebar-content">
            <button class = "sidebar-open" onclick = "toggleSidebar()">
                ☰
            </button>
        </div>
        <div class = "sidebar-expanded">
            <ol class='module-section'>  
                <div class="module-name">
                    <b class="module-num">X</b>
                    Module Name Module Name Module Name Module Name
                </div>
                <li class="submodule-section">
                    <div class="module-name">
                        <b class="module-num">X.X</b>
                        Submodule Name Submodule Name Submodule Name
                    </div>
                </li>
                <li class="submodule-section">
                    <div class="module-name">
                        <b class="module-num">X.X</b>
                        Submodule Name
                    </div>
                </li>
                <li class="submodule-section">
                    <div class="module-name">
                        <b class="module-num">X.X</b>
                        Submodule Name Submodule Name
                    </div>
                </li>
            </ol>
            <ol class='module-section'>  
                <div class="module-name">
                    <b class="module-num">X</b>
                    Module Name
                </div>
                <li class="submodule-section">
                    <div class="module-name">
                        <b class="module-num">X.X</b>
                        Submodule Name Submodule Name
                    </div>
                </li>
            </ol>
            <ol class='module-section'>  
                <div class="module-name">
                    <b class="module-num">X</b>
                    Module Name Module Name Module Name
                </div>
                <li class="submodule-section">
                    <div class="module-name">
                        <b class="module-num">X.X</b>
                        Submodule Name
                    </div>
                </li>
            </ol>
            {% for i in range(5) %}
            <ol class='module-section'>  
                <div class="module-name">
                    <b class="module-num">X</b>
                    Module Name Module Name Module Name
                </div>
                <li class="submodule-section">
                    <div class="module-name">
                        <b class="module-num">X.X</b>
                        Submodule Name
                    </div>
                </li>
            </ol>
            {% endfor %}
        </div>
    </div>
    <div class = 'main-area'>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus vel a distinctio debitis 
        similique fuga voluptatibus ea pariatur, ipsa laboriosam corporis consequatur? Harum esse minus 
        perferendis sequi, minima rem reiciendis?</p>
    </div>
</section>

<script>

        const layout = document.getElementsByClassName("layout")[0];

        console.log(layout)
        // Show Sidebar button functionality
        function toggleSidebar() {
            layout.classList.toggle("sidebar-expand")
        }

</script>

{% endblock %}