{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/test.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&family=Libre+Baskerville:ital@0;1&display=swap" rel="stylesheet">
{% endblock %}


{% block body %}

<section class = 'layout'>
    <div class = 'header'>
        <ol class = 'header-content'>
            <li>Home</li>
            <li>➤</li>
            <li>Module List</li>
            <li>➤</li>
            <li>X Module Name</li>
            <li>➤</li>
            <li>X.X Submodule Name</li>
        </ol>
    </div>
    <div class = 'sidebar'>
        <ol class = 'sidebar-content'>
            <li>☰</li>
        </ol>
    </div>
    <div class = 'main-area'>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus vel a distinctio debitis 
        similique fuga voluptatibus ea pariatur, ipsa laboriosam corporis consequatur? Harum esse minus 
        perferendis sequi, minima rem reiciendis?</p>
    </div>
</section>

{% endblock %}