{% extends "layout.html" %}

{% block title%}Main Page{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href = "{{ url_for('static',filename='styles/titlepage.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&family=Libre+Baskerville:ital@0;1&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}

<div id = "main-block" style = "display: flex; flex-direction: row;">
    <div style = "display: flex; flex-direction: column; margin-top: 2%; margin-right: 25px;">
    <div class = 'title'>
        Data Center</br>Learning Modules
    </div>
    
    <div class = 'description'>
        This website aims to raise awareness of the growing impact of data centers and the challenges they pose to both local communities and the broader public. While data centers play a critical role in today’s digital world, they can also strain resources, affect surrounding environments, and influence quality of life both nearby and beyond. These learning modules are designed to provide a clearer understanding of these impacts and what they mean for society as a whole.
        
    </div>
    
    <form action="{{ url_for('next_button') }}" method="POST">
        <button class = 'access-button' type="submit" name="submit_button" value="Clicked">Access the Modules</button>
    </form>
    </div>
    <img height=500px src="../static/images/graphics/Homeimg.PNG">
</div>

<div id = "course-overview-block">
    <img class="course-overview-img" src="../static/images/graphics/Courseoverview.PNG">
    <div class = "course-overview" style = "display: flex; flex-direction: column">
        <div class = 'title2'>
        Course Overview
        </div>

        <div class = 'description2'>
            
            This course is broken down into four modules:
            <br>

            <br>
            Module 1 introduces the user to data centers. What are they? What do they do? We focus on what components make up a data center, how many there are, and their involvement in systems the user might be familiar with. 
            <br>
            <br>

            In Module 2, we expand on the operations of a data center to explore some of the underlying 
            drawbacks of the data center boom, such as excessive energy consumption and water usage.
            <br>
            <br>
            Module 3 focuses on the local effects of data centers. We challenge the user to think about how their community might be affected by the construction of a data center near them.
            <br>
            <br>

           Module 4 looks to the future and introduces the user to resources to stay aware of news involving 
            data centers as well as petitioning their local representatives about legislation
             regarding data centers. Knowing the benefits, uses, and drawbacks of data centers, 
             they may use the resources in this module to help guide responsible AI usage.
    
        </div>
    </div>
</div>

<div id = "citations-block">
    <div class = 'title3'>
        Learn More
    </div>

    <div class = 'description3'>
        The following sources were used in the development of these modules and are provided 
        to support the information presented and encourage further independent exploration.
    
    </div>
    <!--
    This makes a vertical marquee
    Adapted from:
    https://codepen.io/jonathansampson/pen/AZbXyj
    -->
    
    <div class = "marquee-container">
    <p class = "marquee">
        {{ citations }}

    </div>
</div>

<div style="display: flex; gap: 100px; align-items: center; justify-content: center;" class="credits">
    <p>Creators:</p>
    <p><i>Beatrice Antoinette</i></p>
    <p><i>Gavin Rualo</i></p>
    <p><i>Ishaan Khalap</i></p>
    <p ><i>Ricky Quach</i></p>
</div>

<script>
    const marquee = document.getElementsByClassName("marquee")[0];

    ,marquee.addEventListener()
</script>
{% endblock %}