@font-face {
    font-family: 'OpenDyslexic';
    src: url('/static/fonts/OpenDyslexic-Regular.otf') format('opentype');
  }

  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--dune-lightest);
    overflow-y: auto;

}

.layout {
    height: 100vh;
    display: grid;
    grid-template-rows: [row1] 70% [row2] auto [row3];
    grid-template-columns: [col1] auto [col2];
}

button#accessibility {
    z-index: 11;
    position: fixed;
    left: 10px;
    bottom: 10px;
    background: none;
    border: none;
}


body.dyslexic, body.dyslexic * {
    font-family: 'OpenDyslexic', sans-serif !important;
    letter-spacing: -0.1em;
}


#accessibility-menu {
    z-index: 10;
    position: fixed;
    width: 270px;
    top: 0;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    background-color: rgb(108, 108, 108);
}

#text-slider-container {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

#accessibility-menu.open {
    transform: translateX(0px);
}