* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--dune-lightest);
    overflow-x: hidden;
    overflow-y: hidden;

}

.layout {
    height: 100vh;
    display: grid;
    grid-template-columns: [col1] 255px [col2] 45px [col3] auto [col4];
    grid-template-rows: [row1] 45px [row2] 45px [row3] auto [row4];
}

.header {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    z-index: 3;
    background-color: var(--dune-light);
}

.header-content {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    margin-left: 15px;
    width: auto;
    height: 100%;
    list-style: none;
}

.sidebar {
    grid-row: 2 / 4;
    grid-column: 1 / 3;
    z-index: 2;
    border-radius: 0 10px 0 0;
    transform: translateX(-255px);
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.sidebar-header {
    background-color: var(--teal-dark);
    height: 45px;
    width: 300px;
    border-radius: 0 10px 10px 0;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-family: 'Libre Baskerville', serif;
    color: var(--teal-light);
}

.sidebar-content {
    width: 100%;
}

.sidebar-links {
    text-decoration: none;
    color: black;
}

.header-links {
    text-decoration: none;
    color: var(--dune-darkest);
    transition: color 0.2s ease-in-out;
}

.arrow {
    text-decoration: none;
    color: var(--dune-mid);
}

.header-links.is-current {
    color: var(--teal-dark);
    font-weight: 1000;
    font-family: 'Libre Baskerville', serif;
}

.header-links.is-current:hover {
    color: var(--terracotta-mid-light);
}

.header-links.is-current:active {
    color: var(--terracotta-mid);
}

a.sidebar-links:hover .submodule-section {
    background-color: #dadada;
    cursor: pointer;
}

a.sidebar-links:active .submodule-section {
    background-color: #787878;
}

a.header-links:hover {
    color: var(--dune-mid);
    cursor: pointer;
}

a.header-links:active {
    color: var(--dune-dark);
}

button.sidebar-open {
    position: fixed;
    top: 3px;
    right: 10px;
    width: fit-content;
    height: fit-content;
    font-size: 1.75em;
    background-color: var(--teal-dark);
    border: none;
    color: var(--teal-light)
}

.sidebar-expanded {
    flex: 1;
    margin-right: 45px;
    width: auto; 
    height: auto;
    background-color: var(--teal-darkest); 
    transition: transform 0.5s ease-in-out;
    overflow-y: scroll;
    height: 100vh
}

.module-section {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 10px;
    background-color: var(--teal-darkest); 
    border-radius: 5px;
    padding-bottom: 10px;
}

.module-name {
    font-family: 'Libre Baskerville', serif;
    margin: 10px;
    display: flex;
    color: var(--teal-light);
    font-size: 0.9em;
}

.module-section.is-current .module-name {
    color: var(--terracotta-lightest);
}

.module-section.is-current .module-num {
    color: var(--terracotta-lightest);
}

.submodule-name {
    font-family: 'DM Sans', sans-serif;
    margin: 10px;
    display: flex;
    color: var(--teal-mid-light);
    font-size: 0.85em;
}

.module-num {
    font-family: 'Libre Baskerville', serif;
    margin-right: 10px;
    color: var(--teal-mid-light);
}

.submodule-num {
    font-family: 'DM Sans', sans-serif;
    margin-right: 10px;
    color: var(--teal-mid);
}

.submodule-section {
    font-family: 'DM Sans', sans-serif;
    margin: 0 10px 0 10px;
    background-color: var(--teal-darkest); 
    border-radius: 5px;
    padding: 1px 0;
    transition: background-color 0.2s ease;
    line-height: 1.15;
}


.submodule-section.is-current {
    color: var(--dune-lightest);
    background-color: var(--terracotta-mid);
}

.submodule-name.is-current {
    color: var(--dune-lightest);
}
.submodule-num.is-current {
    color: var(--dune-lightest);
}

.main-area {
    grid-row: 2 / 4;
    grid-column: 1 / 4;
    z-index: 1;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.25em;
    padding: 10%;
    overflow-y: auto;
    color: var(--dune-darkest);
}

.layout.sidebar-expand .sidebar {
    transform: translateX(0px);
}


#next {
    background: none;
    border: none;

}


#back {
    background: none;
    border: none;

}

.button-group {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.button-group img {
    transition: all 0.2s ease-in-out;
}

#next:hover img {
    filter: brightness(1.2) saturate(0.8);
}

#next:active img {
    filter: brightness(1.1) saturate(0.9);
}

#back:hover img {
    filter: brightness(1.2) saturate(0.8);
}

#back:active img {
    filter: brightness(1.1) saturate(0.9);
}

progress#submod-progress {
    position: fixed;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    appearance: none;
    height: 10px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

progress::-webkit-progress-bar {
  background-color: var(--dune-light);
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: var(--terracotta-mid);
  border-radius: 10px;
  transition: width 0.3s ease;
}

#next-section {
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
    background-color: rgb(226, 226, 226);
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--teal-mid);
    border-radius: 4px;
    border: 2px solid var(--teal-darkest);
}

::-webkit-scrollbar-track {
    background-color: var(--teal-darkest);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--teal-lightest);
}


.hamburger {
    position: fixed;
    top: 10px;
    right: 6px;
}