* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title-box {
    font-family: 'Libre Baskerville', serif;
    background-color: gray;
    margin: 45px;
    width: auto;
    border-radius: 20px;
    font-size: 3em;
    text-align: center;
    padding: 1.5em;

}

.module-box {
    background-color: gray;
    margin: 0 45px 15px 45px;
    width: auto;
    border-radius: 20px;
}

.box-div-1 {
    background-color: red;
    width: 50%;
    height: auto;

}

.box-div-2 {
    background-color: blue;
    width: 50%;
    margin-left: 50%;
    height: auto;

}