body {
    background-color: var(--dune-lightest);
    margin: 0;
}

#main-block {
    background-color: var(--dune-lightest); 
    padding: 9%;
}

#course-overview-block {
    background-color: var(--dune-light); 
    padding: 15% 9% 9% 9%;
    clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
    margin-top: -15%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.title {
    font-family: 'Libre Baskerville', serif;
    font-size: 3.75em;
    color: var(--terracotta-darkest);
}

.title2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 3.25em;
    color: var(--terracotta-darkest);
}

.description {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.3em;
    max-width: 55%;
    padding-top: 10px;
    padding-bottom: 15px;
    color: var(--dune-darkest)
}

.description2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.3em;
    max-width: 55%;
    padding-top: 10px;
    padding-bottom: 15px;
    color: var(--dune-darkest);
    max-width: 55%;
}

.access-button {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.25em;
    background-color: var(--teal-mid);
    color: var(--dune-lightest);
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
}


.access-button:hover {
    background-color: #707070;
    cursor: pointer;
}

.access-button:active {
    background-color: #505050;
}

