body {
    background-color: var(--dune-light);
    margin: 0;
    overflow-y: auto;
}

#main-block {
    background-color: var(--dune-light); 
    padding: 7%;
}

#course-overview-block {
    background-color: var(--teal-dark); 
    padding: 10% 9% 10% 9%;
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
    margin-top: -10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 3rem;     
}

.title {
    font-family: 'Libre Baskerville', serif;
    font-size: 3.5em;
    color: var(--terracotta-darkest);
    line-height: 1.25em;
}

.title2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 3.5em;
    text-align: right;
    color: var(--teal-lightest);
}

.title3 {
    font-family: 'Libre Baskerville', serif;
    font-size: 3.25em;
    text-align: center;
    color: var(--terracotta-dark);
}

.description {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.1em;
    max-width: 95%;
    padding-top: 10px;
    padding-bottom: 15px;
    color: var(--dune-darkest);
}

.description2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 1em;
    max-width: 75%;
    padding-top: 10px;
    padding-bottom: 15px;
    color: var(--teal-light);
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.description3 {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.3em;
    max-width: 55%;
    padding-top: 10px;
    padding-bottom: 15px;
    color: var(--terracotta-dark);
    max-width: 100%;
}

.access-button {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.25em;
    background-color: var(--terracotta-mid);
    color: var(--terracotta-lightest);
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
}


.access-button:hover {
    background-color: var(--terracotta-darkest);
    cursor: pointer;
}

.access-button:active {
    background-color: var(--terracotta-dark);
}

.course-overview-img {
    margin-top: 5%;
    margin-left: -3%;
    width:450px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-overview {
    flex: 1; 
}

.marquee-container { 
    width: 85%;
    height: 30%;
    padding: 5%;
    margin: 1em auto;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    box-sizing: border-box;
    border: var(--teal-lightest);
    border-radius: 5px;
}

.marquee {
    top: 6em;
    position: relative;
    box-sizing: border-box;
    animation: marquee 45s linear infinite;
}

.marquee:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    from   { transform: translateY(30%); }
    to { transform:translateY(-130%); }
}
